<form {{action 'createReminder' on='submit'}}>
  <label>Title:{{input value=title}}</label>
  <label>Date:{{input value=date type='date'}}</label>
  <label>Notes:{{input value=notes}}</label>
  <button class='spec-add-new'>Add</button>
</form>
