<form {{action 'editReminder' model on='submit'}}>
  <label>Title:{{input value=model.title}}</label>
  <label>Date:{{input value=model.date type='date'}}</label>
  <label>Notes:{{input value=model.notes}}</label>
  <button class='spec-edit-btn'>Submit</button>
</form>
