<form {{action 'editReminder' on='submit'}}>
  <label>Title:{{input value=title}}</label>
  <label>Date:{{input value=date type='date'}}</label>
  <label>Notes:{{input value=notes}}</label>
  <button class='spec-edit-btn'>Submit</button>
</form>
