{{add-reminder}}
{{#each model as |reminder|}}
  <ul class='reminders-list'>
    <li>
      {{#link-to 'reminders.reminder' reminder.id}}
        <h3 class='spec-reminder-item'>{{reminder.title}}</h3>
      {{/link-to}}
    </li>
  </ul>
{{/each}}
{{outlet}}
