<!-- {{add-reminder}} -->

{{outlet}}

{{#each model as |reminder|}}
  <ul class='reminders-list'>
    <li>
      {{#link-to 'reminders.reminder' reminder.id}}
        <h3 class='spec-reminder-item'>{{reminder.title}}</h3>
      {{/link-to}}
    </li>
  </ul>
{{/each}}

{{#link-to "reminders.new"}}
  <button>Create New Reminder</button>
{{/link-to}}
