<section>

{{#if model}}
  {{#each model as |reminder|}}
    <ul class='reminders-list'>
      <li class={{if reminder.hasDirtyAttributes "unsaved"}}>
        {{#link-to 'reminders.reminder' reminder.id}}
          <h3 class='spec-reminder-item'>{{reminder.title}}</h3>
        {{/link-to}}
      </li>
    </ul>
  {{/each}}

  {{else}}
    <p class="spec-no-reminder-status">Please add your first reminder!</p>
{{/if}}

{{#link-to "reminders.new"}}
  <button class='spec-add-new-form'>Create New Reminder</button>
{{/link-to}}

</section>

{{outlet}}
