{{add-reminder}}


<!-- {{#each model as |reminder|}}
  <ul class='reminders-list'>
    <li class='spec-reminder-title'>
      {{#link-to 'reminders.reminder' reminder.id class="spec-reminder-item"}}
        <h3>{{reminder.title}}</h3>
      {{/link-to}}
    </li>
  </ul>
{{/each}} -->


{{#each model as |reminder|}}
  <ul class='reminders-list'>
    <li class='spec-reminder-title'>
      {{#link-to 'reminders.reminder' reminder.id class="spec-reminder-item"}}
        <h3>{{reminder.title}}</h3>
      {{/link-to}}
    </li>
  </ul>
{{/each}}


{{outlet}}
